<%= simple_form_for @questao, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  
  <div class="form-inputs">
	  <%= f.association :concurso %>
	  <%= f.association :materia %>
	  <%= f.association :assunto %>
    <%= f.input :gabarito, :collection => ['A', 'B', 'C', 'D', 'E'], :as => :select, :input_html => { :style => "width: auto" } %>
	  <%= f.input :texto, :as => :text, :input_html => {:rows => 8, :cols => 80 } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                questoes_path, :class => 'btn' %>
  </div>
<% end %>
