
<%= hidden_field_tag 'questao_id', params[:id] %>
<%= simple_form_for @questao, :html => { :class => 'form-horizontal' } do |f| %>
  <%= tinymce_assets %>
  <%= tinymce %>
  <%= f.error_notification %>
  
  <div class="form-inputs">
	  <%= f.association :concurso, :input_html => { :style => "width: auto" }, collection: Concurso.ordered %>
    <%= f.association :materia, :input_html => { :style => "width: auto" } %>

    <% if @questao.materia.blank? %>
      <%= f.association :assunto, :collection => [], :input_html => { :style => "width: auto" } %>
    <% else %>
      <%= f.association :assunto, :collection => @questao.materia.assuntos.sort {|a,b| a.name_with_parent <=> b.name_with_parent}.collect{|a| [a.name_with_parent, a.id]}, :input_html => { :style => "width: auto" } %>
    <% end %>

    <%= f.input :tipo, :collection => [['Múltipla Escolha', 'M'], ['Certa / Errada', 'C']], :include_blank => false %>
	  
    <%= f.input :gabarito, :input_html => { :style => "width: 100px;" }, :hint => 'CCEE para questões de certo/errado e A,B,C,D ou E para múltipla escolha...' %>

	  <%= f.input :texto, :as => :text, :input_html => {:rows => 8, :cols => 80, :class => 'tinymce' }, :hint => 'coloque aqui a pergunta...' %>

    <div class="control-group text optional">
      <label for="questao_item" class="text optional control-label">
        Adicionar Item
      </label>
      <div class="controls">
        <textarea rows="4" name="dinamic_questao_item" id="questao_item" cols="80" class="text optional tinymce"></textarea>
        <input id="add_item" value="Criar Item" name="commit" class="btn">
        <p class="help-block">
          coloque aqui os itens...
        </p>
      </div>
    </div>
    
    <div id="questao_itens">

      <% unless session['questao_itens'].blank? %>
        <% session['questao_itens'].each.with_index do |i,index| %>
          <div class="control-group text optional">
            <label for="questao_item" class="text optional control-label">
              Item <%= value_item index %>
            </label>
            <div class="controls" style="padding-top:5px; margin-bottom:5px;">
              <a onClick="javascript:delete_item_temp(<%= index %>); " href="javascript:void(0)"> 
                <i style="float:left; margin-right:5px;" class="icon-remove"></i>
              </a>
              <% unless @questao.itens[index].blank? %>
                <a href="<%= edit_item_path(@questao.itens[index].id)%>">
                  <i style="float:left; margin-right:5px;" class="icon-edit"></i>
                </a>
              <% end %>
              <%= raw i %> 
            </div>
          </div>
        <% end %>
      <% end %>

    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                questoes_path, :class => 'btn' %>
  </div>
<% end %>


