<%- model_class = Questao -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human(:count => 2) %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:materia_id) %></th>
      <th><%= model_class.human_attribute_name(:concurso_id) %></th>
      <th><%= model_class.human_attribute_name(:assunto_id) %></th>
      <th><%= model_class.human_attribute_name(:tipo) %></th>
      <th><%= model_class.human_attribute_name(:gabarito) %></th>
      <th><%= model_class.human_attribute_name(:texto) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @questoes.each do |questao| %>
      <tr>
        <td><%= link_to questao.id, questao_path(questao) %></td>
        <td><%= questao.materia.nome %></td>
        <td><%= questao.concurso.nome %></td>
        <td><%= questao.assunto.nome %></td>
        <td>
          <abbr title="<%= raw escape_javascript(get_tipo questao.tipo) %>">
            <%= raw questao.tipo %>
          </abbr>
        </td>
        <td><%= questao.gabarito %></td>
        <td>
          <abbr title="<%= escape_javascript(ActionController::Base.helpers.strip_tags(questao.texto.strip).gsub('"','').squish) %>">
              <%= ActionController::Base.helpers.strip_tags(questao.texto.strip).first(16) + '...' %> 
          </abbr> 
        </td>
        <td style="width: 53px;">
          <%= link_to new_item_path(:questao => questao.id), :class => "icon-item", :title => "adicionar item" do %>
            <i class="icon-plus"></i>
          <% end %>
          <%= link_to image_tag('edit.png'), edit_questao_path(questao), :class => 'quick-edit',:title => 'editar' %>
          <%= link_to image_tag('delete.png'), questao_path(questao), :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", 
                      :default => 'Você tem certeza?')) },
                      :class => '', :title => 'deletar' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="apple_pagination">
  <%= will_paginate @questoes %>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_questao_path,
            :class => 'btn' %>
