
$('#<%=@questao.id%>_ajax_messages').empty();

<% @questao.itens.each.with_index do |item,index| %>
	$('#<%=@questao.id%>_item_questao_<%=value_item(index)%>').css('background-color', '#EEEEEE');	
<% end %>

<% if @questao.tipo == 'M' %>
	<% if @gabarito == @resp %>
		$('#<%=@questao.id%>_item_questao_<%=@resp%>').css('background-color', '#D6E9C6');
		$('#<%=@questao.id%>_ajax_messages').append($('<div class="alert alert-success">Parabéns !!! Resposta Correta!</div>'));
	<% elsif @resp.blank? %>
		$('#<%=@questao.id%>_item_questao_<%=@gabarito%>').css('background-color', '#D6E9C6');
		$('#<%=@questao.id%>_ajax_messages').append($('<div class="alert alert-warning">Nenhuma Resposta Selecionada!</div>'));
	<% else %>
		$('#<%=@questao.id%>_item_questao_<%=@resp%>').css('background-color', '#EED3D7');
		$('#<%=@questao.id%>_item_questao_<%=@gabarito%>').css('background-color', '#D6E9C6');
		$('#<%=@questao.id%>_ajax_messages').append($('<div class="alert alert-error">Sorry !!! Resposta Errada!</div>'));
	<% end %>
<% elsif @questao.tipo == 'C' %>
	
	<% @resp.each.with_index do |resp, index| %>
		<% if(@resp[index] == ' ') %>
			$('#<%=@questao.id%>_item_questao_<%=value_item(index)%>').css('background-color', '#EEE9CE');
		<% elsif (@resp[index] == @gabarito[index]) %>
			$('#<%=@questao.id%>_item_questao_<%=value_item(index)%>').css('background-color', '#D6E9C6');
		<% else %>
			$('#<%=@questao.id%>_item_questao_<%=value_item(index)%>').css('background-color', '#EED3D7');
		<% end %>
	<% end %>

<% end %>


