<% provide(:class, 'blank') if params[:materia_id].blank? %>
<% unless params[:materia_id].blank? %>
	
	<h1><%= "#{@materia.nome.upcase} - "%>CONCURSOS</h1>

		<%unless @concursos.blank? %>
			<% @concursos.each do |concurso| %>
				<%= link_to "#{concurso.nome.upcase + ' - ' + concurso.cargo.upcase}", home_resolvendo_path(:materia_id => @materia.id, :concurso_id => concurso.id), :class => 'assunto concurso'%>
		    <% end %>
	    <% end %>

	<h1><%= "#{@materia.nome.upcase} - "%>ASSUNTOS</h1>

	    <ul>
	    	<% unless @assuntos.blank? %>
	    		<% @assuntos.each do |assunto| %>
			    	<p>
			    		<li class="tree">
				    		<%= render :partial => 'assuntos', :locals => { :assunto => assunto } %>
				    	</li>
				    </p>
			    <% end %>
	    	<% end %>
	    </ul>

<% else %>

	<div class='offset2' style='margin-top:25px;'>
		<%= image_tag('ac.png') %>
	</div>

<% end %>