<% provide(:class, 'blank') if params[:materia_id].blank? %>
<% unless params[:materia_id].blank? %>

	<h1 style="text-align:center;"><%= "#{@materia.nome.upcase}" %> </h1>

	<div class="wrapper">
	    <ul class="nav nav-tabs">
	        <li class="<%= renderMateriaBy == "ass" ? "active" : "" %>">
	    		<%= link_to "POR ASSUNTOS", root_path(:materia_id => params[:materia_id], :por => "ass")%>
	    	</li>
	    	<li class="<%= renderMateriaBy == "con" ? "active" : "" %>">
	    		<%= link_to "POR CONCURSOS", root_path(:materia_id => params[:materia_id], :por => "con")%>
	    	</li>
	    </ul>
	</div>
	
	<% if renderMateriaBy == "ass" %>

	    <ul>
	    	<% unless @assuntos.blank? %>
	    		<% @assuntos.each do |assunto| %>
			    	<p>
			    		<li class="tree">
				    		<%= render :partial => 'assuntos', :locals => { :assunto => assunto } %>
				    	</li>
				    </p>
			    <% end %>
	    	<% end %>
	    </ul>

    <% end %>

    <% if renderMateriaBy == "con" %>

		<% unless @concursos.blank? %>
			<table class="table table-striped">
			  <thead>
			    <tr>
			      <th><%= Concurso.human_attribute_name(:ano) %></th>
			      <th> Órgão </th>
			      <th><%= Concurso.human_attribute_name(:cargo) %></th>
			      <th><%= Concurso.human_attribute_name(:banca) %></th>
			    </tr>
			  </thead>
			  <tbody>
			    <% @concursos.each do |concurso| %>
			      <tr>
			        <td>
			        	<%= link_to "#{concurso.ano}", home_resolvendo_path(:materia_id => @materia.id, :concurso_id => concurso.id), :class => ''%>
			        </td>
			        <td>
			        	<%= link_to "#{concurso.nome.upcase}", home_resolvendo_path(:materia_id => @materia.id, :concurso_id => concurso.id), :class => ''%>
			        </td>
			        <td>
			        	<%= link_to "#{concurso.cargo.upcase}", home_resolvendo_path(:materia_id => @materia.id, :concurso_id => concurso.id), :class => ''%>
			        </td>
			        <td>
			        	<%= link_to (concurso.banca.blank?) ? "" : "#{concurso.banca.nome.upcase}", home_resolvendo_path(:materia_id => @materia.id, :concurso_id => concurso.id), :class => ''%>
			        </td>
			      </tr>
			    <% end %>
			  </tbody>
		    </table>
		    <div class="apple_pagination">
			  <%= will_paginate @concursos %>
			</div>

	    <% end %>
    <% end %>

<% else %>

	<div class='offset2' style='margin-top:25px;'>
		<%= image_tag('ac.png') %>
	</div>

<% end %>