<h1>Resolvendo</h1>

<%= tinymce_assets %>
<%= tinymce %>
<div class="row-fluid">
	<div class="span9" style="margin-left: 3.54701%">
		<%unless @questoes.blank? %>
	
			<% @questoes.each.with_index do |questao, index| %>
				<div id="<%=questao.id%>_ajax_messages"></div>
				<%= raw questao_texto(questao, index) %>
				<%= hidden_field_tag "start_time", 3.seconds.from_now %>

				<%unless questao.itens.blank? %>
					<ul class="ul-questao">
						<% questao.itens.sort.each.with_index do |item, index|%>
							<li id="<%=questao.id%>_item_questao_<%=value_item(index)%>" class="item">
								<% if questao.tipo == 'M' %>
									<%= radio_button_tag "#{questao.id}_item_questao", value_item(index), false, :class => "item-radio", :style => 'margin: 0px' %>
								<% elsif questao.tipo == 'C' %>
									<%= check_box_tag "#{questao.id}_item_questao", index, false, :class => "item-radio", :style => 'margin: 0px' %>
								<% end %>
								<%= raw item_desc(item, index) %>
							</li>
						<% end %>
						
						<div class="form-actions">
							<input type="submit" value="Responder" name="commit" class="btn" onClick="<%= ajaxResp(questao) %>">
							</input>
							<button class='btn' id='button_hide<%=questao.id%>' onClick="buttonComments(<%=questao.id%>)" >
								<i class="icon-white icon-chevron-down"></i> 
								Comentários
							</button>
						</div>

						<div id='hider<%= questao.id %>' style="display: none;">

							<div id="<%=questao.id%>_comment">
								<% questao.comments.each.with_index do |comment, index|%>
									<li id="<%=questao.id%>_comment_questao_<%= index %>" class="item_comment item_comment_<%=comment.id%>">
										<% if current_user == comment.user %>
										  <%= button_tag "Deletar", :questao_id => questao.id, :comment_id => comment.id, :class => 'btn btn-mini comment_delete', :onclick => 'get_comments(this)' %>
										<% end %>
										<div class="comment" style="float:left;">
											<%= image_tag 'imagem_perfil.png', :size => '46x50', :class => 'imagem_comment' %>
											<div class="created_at"> <%= I18n.l comment.created_at, :format => :custom, :locale => 'pt-BR' %> 
											</div>
											<div class="comment_content">
												<%= raw comment.texto %>
											</div>
										</div>
										<br clear="all">
									</li>
								<% end %>
								<% if questao.comments.blank? %>
									<li id="<%=questao.id%>_comment_questao_<%= index %>" class="item_comment">
										Nenhum comentário ainda...
									</li>	
								<% end %>
							</div>

							<% if user_signed_in? %>
								<li class="item" style="margin:10px;">
										 
									<div class="">
										<%= simple_form_for questao.id.to_s+"_comment", :url => '/home/dynamic_add_comment', :html => { :class => 'form-vertical ajax_comment', :id => questao.id.to_s+"_comment" }, :method => 'post' do |f|%>
										  <%= f.input :texto,:id => 'teste', :as => :text, :input_html => {:rows => 15, :cols => 70, :class => 'tinymce'}, :hint => 'coloque aqui o comentário...', :label => false %>
										  <%= f.input :questao_id, :as => :hidden, :input_html => { :value => questao.id } %>
										  <%= f.submit 'Criar Comentário', :class => 'btn' %>
										<% end %>
							  		</div>
								</li>
							<% end %>
						</div>

					</ul>
				<% else %>
					<p> Nenhum item cadastrado para esta questão... </p>
				<% end %>

			<% end %>

		<%else%>
			<p> Nenhuma questão cadastrada... </p>
		<%end%>

	</div>
</div>
