<%= simple_form_for(@materia, :html => { :class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nome %>
    <%= f.input :imagem %>
    <%= f.input :active %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                materias_path, :class => 'btn' %>
  </div>
<% end %>
