<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @materia.nome %>
</p>

<p>
  <b>Imagem:</b>
  <%= @materia.imagem %>
</p>


<%= link_to 'Editar', edit_materia_path(@materia) %> |
<%= link_to 'Voltar', materias_path %>
