<%= simple_form_for @concurso, :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nome %>
    <%= f.input :banca, :url => autocomplete_banca_nome_concursos_path, :as => :autocomplete %>
    <%= f.input :banca_id, :as => 'hidden' %>
    <%= f.input :ano, :collection => 2000..(Date.today.year+1), :selected => Date.today.year %>
    <%= f.input :cargo %>
    <%= f.input :edital, :as => 'file' %>
    <%= f.input :prova, :as => 'file' %>
    <%= f.input :gabarito, :as => 'file' %>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                concursos_path, :class => 'btn' %>
  </div>
<% end %>
